# 문제은행

In [4]:
import pandas as pd
import numpy as np

In [2]:
url = ('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/tips.csv')

In [5]:
tips = pd.read_csv(url)
#this df has 'total_bill','tip','sex','smoker','day','time','size' columns

In [6]:
#1. Show all the available information in the tips dataframe

In [7]:
#2. Show me all the available information in the timps dataframe, where the time is dinner

In [8]:
#3. Show me all the available information in the timps dataframe, where tip amount is more than $5 and when the time is dinner

In [9]:
#4. Show me everything where size of the parties at least 5 OR total bill was more than $45

In [11]:
frame = pd.DataFrame({'col1':['A','B',np.NaN,'C','D'],
                      'col2':['F',np.NaN,'G','H','I']})

In [12]:
#5. check null values in col2

In [13]:
#6. check not null values in col1

In [14]:
#7. From the tips, get the number of tips by sex

In [15]:
#8. See how tip amount differs by the day of the week

In [17]:
#9. See how tip amount differs by smoker & day

In [19]:
df1 = pd.DataFrame({'key':['A','B','C','D'],
                   'value':np.random.randn(4)})
df2 = pd.DataFrame({'key':['B','D','D','E'],
                   'value':np.random.randn(4)})

In [20]:
#10. Perform inner join of df1 and df2

In [21]:
#11. show all records from df1

In [22]:
#12. Show all records from df2

In [23]:
#13. Show all records from both

In [24]:
#14. Show all records from both without duplicates

In [25]:
friend_request = pd.DataFrame({'sender_id':[1,1,1,2,3],
                               'send_to_id':[2,3,4,3,4],
                               'request_date':['2016_06-01','2016_06-01','2016_06-01','2016_06-02','2016_06-09']})

request_accepted = pd.DataFrame({'requester_id':[1,1,2,3,3],
                                 'accepter_id':[2,3,3,4,4],
                                 'accept_date':['2016_06-03','2016_06-08','2016_06-08','2016_06-09','2016_06-10']})

In [26]:
#15. how would you go about getting the finding the overall acceptance rate of requests rounded to 2 decimals, 
#which is the number of acceptance divide the number of requests?

In [27]:
log = pd.DataFrame(
            {"date":['2016-6-1', '2016-9-22', '2016-10-28', '2016-11-4', '2016-6-29', '2016-10-1', '2016-6-15', '2016-7-29', '2016-11-1'],
             "student_id":[1, 2, 3, 4, 5, 6, 7, 8, 9]
            })
students = pd.DataFrame(
            {"date_of_birth":['1988-6-1', '1987-9-22', '1988-10-27', '1986-11-3', '1987-6-29', '1988-10-2', '1988-6-16', '1988-7-28', '1988-11-2'],
             "student_id":[1, 2, 3, 4, 5, 6, 7, 8, 9]
            })

In [28]:
#16.Find the percent of students attend school on their birthday

In [29]:
salary = pd.DataFrame({'ID':[1,2,3],
                      'Salary':[100,200,300]})

In [31]:
#17. Write a query to get the second highest salary from the Employee table.

In [32]:
#18. Write a SQL query to get the nth highest salary from the Employee table.

In [33]:
Customers = pd.DataFrame({'ID':[1,2,3,4],
                         'Name':['Joe','Henry','Sam','Max']})
Orders = pd.DataFrame({'ID':[1,2],
                      'CustomerId':[3,1]})

In [34]:
#19. Write a SQL query to find all customers who never order anything.

In [35]:
request_accepted_short = pd.DataFrame({'requester_id':[1,1,2,3],
                                 'accepter_id':[2,3,3,4],
                                 'accept_date':['2016_06-03','2016_06-08','2016_06-08','2016_06-09']})

In [36]:
#20. find the the people who has most friends and the most friends number

In [44]:
Employee = pd.DataFrame({'Id':[1,2,3,4,5,6,7],
                        'Name':['Joe','Henry','Sam','Max','Janet','Randy','Will'],
                        'Salary':[85000,80000,60000,90000,69000,85000,70000],
                        'DepartmentId':[1,2,2,1,1,1,1]
                        })
Department = pd.DataFrame({'Id':[1,2],
                          'Name':['IT','Sales']
                          })

In [45]:
#21. Find employees who earn the top three salaries in each of the department.